<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <div class="fs-1 fw-bold text-primary">Menu (${{getTotalCost() | number:'1.2-2'}})</div>
    <div>
      <button type="button" class="btn btn-primary"[disabled]="getTotalItems() === 0" (click)="placeOrder()">
        Place Order ({{getTotalItems()}})
      </button>
    </div>
  </div>
</div>

<!-- each row display a single mene item -->
  <div *ngIf="menus$ | async as menus">
    <div *ngFor="let m of menus" class="prod-order" class="row mb-2">
      <div class="col">
        <div class="menu-item">
          <div>
            <button type="button" class="btn btn-warning" (click)="decreaseQuantity(m)">
              <i class="bi bi-x-square"></i>
            </button>
          </div>
          <div class="menu-details">
            <div>Name: <span class="fw-bold"> {{m.name}} </span> </div>
            <div>Description:
              <span class="fst-italic">
                {{m.description}}
              </span>
            </div>
            <div></div>
              <div class="text-primary fw-bold">Price: {{m.price | number:'1.2-2'}}</div>
              <div class="text-danger fw-bold">Quantity: {{m.quantity || 0}}</div>
          </div>
          <div class="menu-button-end">
            <button type="button" class="btn btn-success"   (click)="increaseQuantity(m)">
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>